body{
      font-family: Georgia, serif;
    background-color: lightblue;
}
h1,h2{
    color: #F07857;
    font-style: italic;
    font-size: 30px;
}
a{
    font-family: Tahoma, sans-serif;
    color: black;
    font-weight: 500;
    border: 1px solid black;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}
img{
    width: 170px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid seagreen;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);

}
#d1{
    background-color: sandybrown;
}
#d2{
    background-color: lightgoldenrodyellow;
}
#d3{
    background-color: rgb(191, 248, 191);
}
.par{
    border-width: 2px;
    font-style: italic;
}